<h3>Cart</h3>
<a routerLink="/shipping">Get Shipping prices</a>
<div *ngFor="let item of items">
    <span>{{item.name}}</span>
    <span>{{item.price|currency}}</span>
</div>
<br/>
<br/>
<form [formGroup]="checkOutForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="name">
            Name: 
        </label>
        <input id="name" type="text" formControlName="name">
    </div>
    <br/>
    <div>
        <label for="address">
            Address: 
        </label>
        <input id="address" type="text" formControlName="address">
    </div>
    <br/>
    <button type="submit">Purchase</button>
</form>